* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 1vh 8vw;
  display: flex;
  flex-direction: column;
  background-color: #c8c89b;
  position: fixed;
  top: 0;
}


.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-icon {
  display: flex;
  align-items: center;
  
}

.tabiji-icon {
  width: 5vw;
  vertical-align:top;
}

.lists-user-management {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #fff;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #fff;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #fff;
}

.sign-up {
  text-decoration: none;
  color: #fff;
}