<header class='header'>
  <div class='nav'>

    <div class='header-icon'>
      <%= link_to image_tag("tabiji-logo.PNG", class:"tabiji-icon"), "/" %>
    </div>

    <ul class='lists-user-management'>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>

  </div>
</header>