.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-green-btn {
  width: 100%;
  background: #c8c89b;
  border: 1px solid #c8c89b;
  color: #fff;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
}

.login-flash-message {
  margin-top: 50px;
  text-align: center;
  color: #c8c89b;
  font-size: 15px;
}